sharrclient


/sharrserver/node_modules
/sharrserver/.env.local
/sharrserver/package-lock.json
/sharrclient/node_modules
/sharrclient/.eslintcache
/sharrclient/package-lock.json

/sharrclient/.pnp
/sharrclient/.pnp.js
# testing
/sharrclient/coverage

# production
/sharrclient/build

# misc
/sharrclient/.DS_Store
/sharrclient/.env.local
/sharrclient/.env.development.local
/sharrclient/.env.test.local
/sharrclient/.env.production.local